@model vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.Movie.Name</h4>
    <hr />
    <ul>
        <li>Relese Date: @Model.Movie.ReleaseDate.ToString()</li>
        <li>Added Date:  @Model.Movie.AddedDate.ToString()</li>
        <li>Genre: @Model.Movie.Genre.Name</li>
    </ul>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>